
@model AlphaDash.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post">
    <input type="text" name="usuario" placeholder="Usuário"/>
    <input type="password" name="senha" placeholder="Senha"/>
    <button class="btn btn-primary">Entrar</button>
</form>
